/* 
COLOR PALETTE

Primary Colors:
0C3C3B - dark green 
005251 - mid green 
00615F - light green
FFC53E - yellow

Secondary Colors:
171717 - black
F9F3F1-  white

Tertiary Colors:
B6B6B6 - gray

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Popins" sans-serif;
}

.intro {
    background-color: #0C3C3B;
    color: #F9F3F1;

}

hr {
    display: none;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.btn-download{
    
}
.logo img {
  height: 50px;
}

/* меню */
.menu {
  display: flex;
  gap: 32px;
}

/* кнопки app store & google pay */
.btn-img {
  height: 56px;
  margin-right: 16px;
  display: inline-block;
  cursor: pointer;
}

.students {
    display: flex;
    gap: 20px;
}

.students img {
    width: 190px;
    height: 110px;
    object-fit: cover;
}

.mockups {
    display: flex;
    gap: 20px;
}

.mockups img {
    width: 190px;
    height: 110px;
    object-fit: contain;

}

.how-app-works img {
    width: 190px;
    height: 110px;
    object-fit: contain;
}

.member img {
    width: 190px;
    height: 110px;
    object-fit: contain;
}